* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body {
    font-family: sans-serif;
    padding: 0px;
    background-color: #383838;
    color: #ffffff;
    text-align: center;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items:center;
    flex-wrap: wrap; 
    gap: 20px;
    flex-direction: row;
    background-color: rgba(19, 19, 106, 0.799);
}
header img{
    height:100px;
    width: 100px;
}

nav {
    display: flex; gap: 10px; 
    flex-wrap: wrap;
    justify-content: center; 
}
nav ul{
    list-style: none;
}

.menu-principal ul ul{
    display: none;
    position: absolute;
}

.menu-principal li:hover > ul{
    display: block;
}

.menu-principal li{
    display: inline-block;
    position: relative;
}
nav a {
    color: #9d9e9be1; 
    font-weight: bold; 
    white-space: nowrap;
    display: block; 
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
}



nav a:hover { 
    background-color: rgba(13, 0, 0, 0.2); }

hr{
    border-radius: 4px;  
}



#produtos {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
    background-color: rgba(11, 24, 111, 0.885);
    color: #ffffff;
}

article {
    border-radius: 10px;  
    background-color: rgb(117, 115, 114);
    text-align: center;
}

article img{
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
}

article h5{
    color: rgb(127, 255, 161);
}